<?xml version="1.0" ?>
<ns1:ClientNetworkAdapter schemaVersion="V1_1_0" xmlns:ns1="http://www.ibm.com/xmlns/systems/power/firmware/uom/mc/2012_10/">
	<ns1:PortVLANID>
		{{ lpar_info.vlan }}
	</ns1:PortVLANID>
</ns1:ClientNetworkAdapter>

