<ns1:VirtualFibreChannelMapping schemaVersion="V1_0" xmlns:ns1="http://www.ibm.com/xmlns/systems/power/firmware/uom/mc/2012_10/">
	<ns1:AssociatedLogicalPartition href="{{ lpar_link }}" rel="related"/>
	<ns1:Port schemaVersion="V1_0">
		<ns1:PortName>{{ vio2_info.fcs }}</ns1:PortName>
	</ns1:Port>
</ns1:VirtualFibreChannelMapping>



